@model UserDataModel
<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true"/>
</header>
@{
    List<DepositDataModel> deposits = ViewBag.Orders;
    List<WithdrawDataModel> withdraws = ViewBag.Withdraws;
}
<body>
    @foreach(UserDataModel user in ViewBag.Users)
    {
        bool confirmD = true;
        bool confirmW = true;
        <div class="container shadow-lg w-75 border-bottom border-top mt-5 text-center">
            <h2 class="text-warning display-6">@user.Email</h2>
            <h4 class="h3 fst-italic">Wallet: @user.WalletAddress</h4>
            <h3>Invite count: @user.InviteCount</h3>
            <form asp-controller="Home" asp-action="Edit" asp-route-id="@user.Id">
                <input type="submit" class="btn-lg btn-warning shadow-sm mt-2 mb-2 fs-5" value="Edit" placeholder="Crip">
            </form>
            <form asp-controller="Home" asp-action="DeleteAccount" asp-route-id="@user.Id">
                <input type="submit" class="btn-lg btn-warning shadow-sm mt-2 mb-2 fs-5" value="Delete" placeholder="Crip">

            </form>
            @{
                string id = user.Id;
                foreach(var deposit in deposits)
                {
                    if (deposit.User.Id == id && deposit.IsConfirmed==false)
                    {
                        confirmD = false;
                    }
                }
            }
            @try
            {
                {
                    foreach(var withdraw in withdraws)
                    {
                        if (withdraw.User.Id == id && withdraw.IsConfirmed == false)
                        {
                            confirmW = false;
                        }
                    }
                }
            }
            catch(Exception e)
            {
                Console.WriteLine(e);
            }
            finally{
            @if(confirmW==false)
            {
                <h5 style="color:red;">Pending withdraws</h5>
                <form asp-controller="Home" asp-action="AdminWithdrawConfirm" asp-route-wallet="@user.WalletAddress">
                    <button type="submit" class="btn-lg btn-warning shadow-sm mt-2 mb-2 fs-5">Confirm Withdraw</button>
                </form>
            }
            else
            {
                <h5 style="color:green">No pending withdraws</h5>
            }}
            @if(confirmD==false)
            {
                <h5 style="color:red;">Pending deposits</h5>
                <form asp-controller="Home" asp-action="AdminDepositConfirm" asp-route-id="@user.Id">
                    <button type="submit" class="btn-lg btn-warning shadow-sm mt-2 mb-2 fs-5">Confirm Withdraw</button>
                </form>
            }
            else
            {
                <h5 style="color:green">No pending deposits</h5>
            }
        </div>
    }
</body>