@model UserDataModel
<link rel="stylesheet" href="~/css/Edit.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
@{
    List<DepositDataModel> deposits = ViewBag.Orders;
    double sum = 0;
    for(int i=0;i<deposits.Count();i++)
    {
        sum += deposits[i].MoneyForDeposit;
    }
}
<label asp-for="UserName" class="txt">@Model.UserName</label>
<label asp-for="WalletAddress" class="txt">@Model.WalletAddress</label>
</br>
<form asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" method="get">
<label>@sum</label>
<input asp-for="Balance" />
</br>
<label asp-for="MoneySpent" class="txt">@Model.MoneySpent</label>
<button type="submit">Submit</button>
</form>