@model TaskDataModel
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/line.css" asp-append-version="true" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true"/>  
    
</head>
<body>
    @{
        TaskDataModel task = Model;
        UserDataModel user = ViewBag.User;
        if (task.NewAccount == false)
        {
            DateTime now = task.DateStarted;
            if (DateTime.UtcNow > now.AddHours(4) && task.Count > 0)
            {
                <h2>
                    Every deposit gives you 5 mines, each mine gives you approx. 6% of your balance.
                </h2>
                <form asp-controller="Home" asp-action="Mine" asp-route-date="@DateTime.Now">
                    <label id="tip">Miner will be mining in this blockchain: </label>
                    <br />
                    <h5>@ViewBag.BlockChain</h5>
                    <button type="submit" class="btnstart">Use the miner</button>
                </form>
                @ViewBag.ErrorCh
                <h3>Your balance: @user.Balance $</h3>
            }
            else if (task.Count > 0)
            {
                TimeSpan remaining = task.DateStarted.AddHours(4) - DateTime.UtcNow;
                if (remaining.Hours >= 1)
                {
                    <h4>Time remaining till next mine: @remaining.TotalHours.ToString("0") hours</h4>
                }
                else
                {
                    <h4>Time remaining till next mine: @remaining.TotalMinutes.ToString("0") hours</h4>
                }
                <h5>There is a cooldown between minings because there are currently @ViewBag.Count users using the miners</h5>
                <h6>For every person you invite who deposits 25$, you get +1 mine free</h6>
                <h2>Mines remaining: @task.Count</h2>
                if (user.Level == 1)
                {
                    <h5>Your current level gives you 5.5% per mine</h5>
                }
                else if (user.Level == 2)
                {
                    <h5>Your current level gives you 7% per mine</h5>
                }

                else if (user.Level == 3)
                {

                    <h5>Your current level gives you 8.5% per mine</h5>
                }
                <h4>Bitcoin supply left to transfer: @ViewBag.Bitc</h4>
                <h3>Your balance: @user.Balance $</h3>
                <img src="~/Images/LevelsREAL.png" class="img1" />
            }
            else
            {
                <h5>You need to deposit or invite people who deposit in order to get more mines.</h5>
            }
        }
        else
        {
            <h2>The bigger the balance, the bigger the amount of money you are going to get</h2>
            <form asp-controller="Home" asp-action="Mine" asp-route-date="@DateTime.Now">
                <label>Your blockchain to mine in this day: </label>
                <br />
                <h5>@ViewBag.BlockChain</h5>
                <button type="submit">Start mining</button>
            </form>
            <h3>Your balance: @user.Balance $</h3>
        }
    }
</body>
