@model TaskDataModel
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @{
        TaskDataModel task = Model;
        UserDataModel user = ViewBag.User;
        if (task.NewAccount== false)
        {
            DateTime now = task.DateStarted;
            if (DateTime.UtcNow > now.AddDays(1) && task.Count > 0)
            {
                <h2>The bigger the balance, the bigger the amount of mini-miners you are going to use.
                <br/>
                Every deposit gives you 5 mines, each mine gives you approx. 15% of your balance.</h2>
           <form asp-controller="Home" asp-action="Mine" asp-route-date="@DateTime.Now">
                    <label id="tip">Miner will be mining in this blockchain: </label>
                    <br />
                    <h5>@ViewBag.BlockChain</h5>
                    <button type="submit" class="btnstart">Use the miner</button>
                </form>
                @ViewBag.ErrorCh
    <h3>Your balance: @user.Balance $</h3>
            }
            else if(task.Count>0)
            {
                TimeSpan remaining = task.DateStarted.AddDays(1) - DateTime.UtcNow;
                <h4>Time remaining till next mine: @remaining</h4>
                <h5>There is a cooldown between minings because there are currently @ViewBag.Count users using the mini-miners</h5>
                <h6>For every person you invited who deposited 35$, you get +1 mine free</h6>
                <h5>Mines remaining: @task.Count</h5>
                <h5>Your balance: @user.Balance $</h5>
            }
            else
            {
                <h5>You need to deposit or invite people who deposit in order to get more mini-mines.</h5>
            }
        }
        else
        {
                <h2>The bigger the balance, the bigger the amount of mini-miners you are going to use</h2>
            <form asp-controller="Home" asp-action="Mine" asp-route-date="@DateTime.Now">
                    <label>Your blockchain to mine in this day: </label>
                    <br />
                    <h5>@ViewBag.BlockChain</h5>
                    <button type="submit">Start mining</button>
                </form>

    <h3>Your balance: @user.Balance $</h3>
        }
    }

</body>
