@model UserDataModel
<header>
    <link rel="stylesheet" href="~/css/Withdraw.css" asp-append-version="true"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
</header>
@{
    <body>
        @ViewBag.ErrorBal
        @ViewBag.ErrorRef
        @ViewBag.ErrorNoMoney
                <section class="message">
                    Withdraws happen in 1 to 3 days,
                    depending on which country you are in.
                    Fees - 6%
                </section>
                <label class="txtwith">Enter a sum you want to withdraw:</label>
                <form asp-controller="Home" asp-action="TryWithdraw" asp-route-id="@Model.Id">
                <input type="number" name="money" class="inputmon">
                <br/>
                <button type="submit" class="button1">Submit</button>
                </form>
        
        <h3>Your balance: @Model.Balance.ToString("0.00") $</h3>
    </body>
}